/*Made by Romain Sickenberg*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main {
    display: block;
}
body {
    line-height: 2;
}
ol,ul,li {
    list-style: none none;
    margin: 0;
    padding: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
br {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0
}
img {
    -ms-interpolation-mode: bicubic;
    display: block
}
a {
    hyphens: auto;
    -ms-word-break: break-all;
    -moz-hyphens: auto;
    word-break: break-all;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto
}
a:focus {
    outline: thin dotted;
}
a:active,a:hover {
    outline: 0;
}
h2,h3,h4,h5,h6 {
    text-rendering: auto;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    -webkit-font-smoothing: antialiased;
}
.group:after,.wrapper-outer:after,.wrapper-inner:after,section:after,article:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}
*:first-child+html .group,*:first-child+html .wrapper-outer,*:first-child+html .wrapper-inner,*:first-child+html section,*:first-child+html article {
    min-height: 1px
}
* html .group,* html .wrapper-outer,* html .wrapper-inner,* html section,* html article {
    height: 1%
}

/* ====================================================================================================== */
.splash-container {
    border-top: 1em;
}
.splash-container .text-center {
    text-align: center;
}
.splash-container > .content {
    padding-top: 2em;
}
.splash-container > .content .text-align {
    text-align: center;
}
.content .half-left {
    width: 46%;
    float: left;
}
.title-text {
    text-align: left;
}
.content .half-right {
    width: 40%;
    float: right;
}
.app-icon {
    padding-bottom: 3em;
    right: auto;
    bottom: 1em;
    position: relative;
}
.apple-store-badge {
    margin-top: 2em;
    display: inline-block;
}
.soon:hover, .soon:visited, .soon:active, .soon:link {
    padding-top: 1em;
    text-decoration: none;
    color: #000000;
    pointer-events: none;
}
.apple-store-badge > img {
    background: url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;
    width: 65%;
    height: 65%;
    background-size: contain;
    display: inline-block;
    position: relative;
}
.full {
    display: flex;
    justify-content: center;
    position: relative;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    width: 100%;
}
.full ul li {
    display: inline-block;
    margin: 2em 3em;
}
section {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1000px;
    width: 96%;
}
.panel {
    margin-top: 2em;
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    max-width: none;
}
@media only screen and (max-width: 900px) {
    .title-text {
        text-align: center;
    }
    .half-left {
        width: 100% !important;
        float: none !important;
    }
    .half-right {
        width: 100% !important;
        float: none !important;
    }
    .title-text > h1 {
        font-size: 80px;
    }
    .title-text > h2 {
        font-size: 80px;
    }
    .title-text > h5 {
        font-size: 60px;
    }
    .app-icon {
        padding-bottom: 3em;
    }
    .apple-store-badge {
        margin-top: 2%;
        margin-bottom: -2%;
    }
    .full {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background: #8ddbfc; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #8ddbfc 0%, #b097ef 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #8ddbfc 0%,#b097ef 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #8ddbfc 0%,#b097ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ddbfc', endColorstr='#b097ef',GradientType=1 ); /* IE6-9 radient */
    }
    .full ul li {
        display: block;
        margin: 2em 1em;
    }
    img {
        display: inline-block;
    }
}
@media only screen and (max-width: 700px) {
    .title-text {
        text-align: center;
    }
    .half-right {
        width: 100% !important;
        float: none !important;
        text-align: center;
        margin-top: 50px;
    }
    .half-left {
        width: 100% !important;
        float: none !important;
        text-align: center;
    }
    .title-text > h1 {
        font-size: 50px;
    }
    .title-text > h2 {
        font-size: 40px;
    }
    .title-text > h5 {
        font-size: 30px;
    }
    .app-icon {
        padding-bottom: 0;
    }
}
@media only screen and (max-width: 509px) {
    .app-icon {
        width: 50%;
        margin: auto;
    }
}