/* Romain Sickenberg's CSS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}
body {
    line-height: 1
}
blockquote, q {
    quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    /* font:16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #777;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.section {
    padding: 50px 10px;
    max-width: 470px;
    margin: 25px auto;
}
#header {
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
}
.sexy_line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#bad133), to(#fff));
}
#avatarjpg {
    display: inline-block;
    width: 144px;
    margin-bottom: 20px;
    right: 10px;
    position: relative;
    border-radius: 50%;
}
a {
    text-decoration: none;
    color: #5694f1;
    font-weight: 300;
}
h1 {
    font-weight: 300;
    font-size: 24px;
    color: #454545;
    -webkit-font-smoothing : antialiased;
}
h2 {
    font-size: 17px;
    font-weight: 300;
    color: #aaa;
    margin-top: 10px;
}
.line_sexy {
    margin-top: 21px;
    margin-bottom: 21px;
}
p {
    text-align: center;
    line-height: 1.7;
    margin-bottom: 40px;
}
#liiplogo {
    width: 110px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.line_sexy2 {
    margin-bottom: 21px;
}
.daycount {
    color: #6EA644;
}
.social {
    text-align: center;
    margin-bottom: 18px;
    border-bottom: 18px;
    width: 497px;
}
.social a {
    color: #777;
}
.social a:hover {
    color: #bad133;
}
.social a:not(:last-child) {
    padding-right: 10px;
}
footer, i {
    position: relative;
    max-width: 530px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}
#menu{
    width: 100%;
    background: #000000;
    height: 50px;
    line-height: 171px; /* Gère la longeur verticale du drop */
}
.hamburger{
    background: none;
    position: absolute;
    top:0;
    right:0;
    line-height: 49px;
    padding: 0px 15px 0px 15px;
    color: #ffffff;
    border:0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 31;
}
.cross{
    background: none;
    position:absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #ffffff;
    border:0;
    font-size:3em;
    line-height: 85px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 31;
}
.menu{
    z-index: 3;
    font-weight:bold;
    font-size:0.8em;
    width: 100%;
    background: #252d09;
    position: absolute;
    text-align:center;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.menu li {
    display: block;
    padding:15px 0 15px 0;
    border-bottom: #292929 1px solid;
    position: relative;
}
.menu li:hover{
    display: block;
    background: #161d08;
    padding:15px 0 15px 0;
    border-bottom:#1d1f20 1px solid;
}
.menu ul li a {
    text-decoration:none;
    margin: 0px;
    color:#fff;
}
.menu ul li a:hover {
    color: #fff;
    text-decoration:none;
}
.menu a {
    text-decoration-line: none;
    color:white;
}
.menu a:hover {
    text-decoration:none;
    color:white;
}
.glyphicon-home{
    color:white;
    font-size:1.5em;
    margin: 0 auto;
}
.info {
    margin-bottom: 62px;
    font-size: 29px;
    position: relative;
    z-index: -1;
}
.info2 {
    font-size: 17px;
    right: 40px;
    position: absolute;
}
.greenpeace-paralax {
    min-height: 900px;
    background: transparent;
}
.parallax-window1 {
    min-height: 300px;
    background: transparent;
}
.parallax-window {
    min-height: 300px;
    background: transparent;
}
.stackoverflow {
    text-align: center;
}
head {
    background: black;
}
.liip_power {
    width: 250px;
    position: relative;
    right: 0px;
    left: 0px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
@media only screen and (max-device-width: 1024px) {
    .parallax-window1 {
        min-height: 100px;
    }
    .parallax-window {
        min-height: 100px;
    }
    #menu {
        line-height: 45px;
    }
    .social {
        width: 455px;
    }
    .fa-2x {
        font-size: 1.4em !important;
    }
}
@media screen and (max-width: 540px) {
    #wrapper {
        padding: 40px;
    }

    #header {
        margin-bottom: 40px;
    }

    a#docs {
        display: none;
    }
    .footer1{
        display: none; !important;
    }
    footer, i {
        padding-left: 30px;
        padding-right: 30px;
    }
    .social {
        width: auto;
    }
}
@media screen and (max-width: 440px) {
    #wrapper {
        padding: 40px 20px;
    }

    #header {
        margin-bottom: 20px;
    }
    .footer1 {
        display: none; !important;
    }

    footer, i {
        padding-left: 20px;
        padding-right: 20px;
    }
}
