/* Romain Sickenberg's CSS*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    -webkit-animation: blur 0.5s linear forwards;
    -moz-animation: blur 0.5s linear forwards;
    -ms-animation: blur 0.5s linear forwards;
    -o-animation: blur 0.5s linear forwards;
    animation: blur 0.5s linear forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

body {
    /* font:16px/1 "Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #777;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#section {
    padding: 50px 40px;
    max-width: 530px;
    margin: 0 auto;
}

#header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
}

.sexy_line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#bad133), to(#fff));
}

#avatarjpg {
    display: inline-block;
    width: 186px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #5694f1;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    font-size: 24px;
    color: #454545;
}

h2 {
    font-size: 16px;
    font-weigth: 300;
    color: #aaa;
    margin-top: 10px;
}

.line_sexy {
    margin-top: 21px;
}

p {
    text-align: justify;
    line-height: 1.7;
    margin-bottom: 40px;
}

#liiplogo {
    width: 120px;
    margin-top: 15px;
}

.line_sexy2 {

    margin-bottom: 21px;
}

.daycount {
    color: #a8ba1b;

}

.social {
    text-align: center;
    margin-bottom: 18px;
    border-bottom: 18px;
}

.social a {
    color: #777;
}

.social a:hover {
    color: #bad133;
}

.social a:not(:last-child) {
    padding-right: 10px;
}

footer, i {
    position: relative;
    max-width: 530px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}
#menu{
    width: 100%;
    background: #000000;
    height: 47px;
    line-height: 50px;
}
.hamburger{
    background: none;
    position: absolute;
    top:0;
    right:0;
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #ffffff;
    border:0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index:10000000000000;
}
.cross{
    background: none;
    position:absolute;
    top: 0px;
    right: 0;
    padding: 0px 15px 0px 15px;
    color: #ffffff;
    border:0;
    font-size:3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 100000000;
}
.menu{
    z-index:1000000;
    font-weight:bold;
    font-size:0.8em;
    width:100%;
    background: #252d09;
    position:absolute;
    text-align:center;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.menu li {
    display: block;
    padding:15px 0 15px 0;
    border-bottom: #292929 1px solid;
}
.menu li:hover{
    display: block;
    background: #000000;
    padding:15px 0 15px 0;
    border-bottom:#1d1f20 1px solid;
}
.menu ul li a {
    text-decoration:none;
    margin: 0px;
    color:#fff;
}
.menu ul li a:hover {
    color: #fff;
    text-decoration:none;
}
.menu a {
    text-decoration-line: none;
    color:white;
}
.menu a:hover {
    text-decoration:none;
    color:white;
}
.glyphicon-home{
    color:white;
    font-size:1.5em;
    margin: 0 auto;
}
#loader1 {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
#loader1:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #bad117;
    animation: loading 1.5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 4px;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 10000000000000000000000000000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}




@media screen and (max-width: 540px) {
    #wrapper {
        padding: 40px;
    }

    #header {
        margin-bottom: 40px;
    }

    a#docs {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    #wrapper {
        padding: 40px 20px;
    }

    #header {
        margin-bottom: 20px;
    }
}